<div class="container" id="experience">
	<h1 class="page-header">Mon Experience</h1>

	<div class="box-experience">
		<%= image_tag("logo.png")%>
		<h2>2014/15</h2>
		<h3>FC SAINT LEU</h3>
		<h4>ENTRAINEUR PRINCIPALE</h4>
	</div>

	<div class="box-experience">
		<%= image_tag("logo.png")%>
		<h2>2013/14</h2>
		<h3>ANGLETERRE </h3>
		<h4>COACHING INDIVIDUEL PROFESSIONNEL –ANALYSE VIDEO – REATHLETISATION</h4>
	</div>

		<div class="box-experience">
		<%= image_tag("logo.png")%>
		<h2>2012/13</h2>
		<h3>AFRIQUE</h3>
		<h4>CONSEILS EN RECRUTEMENT</h4>
	</div>

		<div class="box-experience">
		<%= image_tag("logo.png")%>
		<h2>2011/12 </h2>
		<h3>SHANGHAI</h3>
		<h4>ENTRAINEUR ADJOINT</h4>
	</div>

		<div class="box-experience">
		<%= image_tag("logo.png")%>
		<h2>2010/11</h2>
		<h3>ECOSPORT</h3>
		<h4>COACHING MENTAL PROFESSIONNEL</h4>
	</div>

	<div class="box-experience">
		<%= image_tag("logo.png")%>
		<h2>FOOTBALLEUR PROFESSIONNEL</h2>
		<ul>
			<li>2009/10 PARIS FC</li>
			<li>2008/09 OLYMPIAKOS NICOSIE</li>
			<li>2007/08 DUBAI CLUB</li>
			<li>2005/07 UD LEIRIA (PORTUGAL )</li>
			<li>2004/05 EAD GUINGAMP</li>
			<li>2002/04 PARIS SAINT GERMAIN</li>
			<li>2001/02 MANCHESTER CITY</li>
			<li>1997/01 FC NANTES</li>
		</ul>
	</div>

	<div class="box-experience">
		<%= image_tag("logo.png")%>
		<h2>1994/97</h2>
		<h3>FC NANTES ( FORMATION )</h3>
	</div>

		<div class="box-experience">
		<%= image_tag("logo.png")%>
		<h2>1992/94</h2>
		<h3>INF CLAIREFONTAINE ( PRE FORMATION ) </h3>
	</div>


		<div class="box-experience">
		<%= image_tag("logo.png")%>
		<h2>1990/92</h2>
		<h3>FC SAINT LEU ( ECOLE DE FOOT )</h3>
	</div>


</div>

