<div class="container">
	<div class="row" id="palmares">
		<h1 class="page-header">Mon Palmares</h1>
		<div class="box-palmares">
			<div class="box-palmares-top">
				<%= image_tag("#") %>
				<h2 class="name-club">Paris Saint-Germain</h2>
			</div>
			<div class="box-palmares-bottom">
				<h3>Saison: 2004</h3>
				<ul>
					<li>VAINQUEUR COUPE DE FRANCE </li>
				</ul>
			</div>
		</div>


		<div class="box-palmares">
			<div class="box-palmares-top">
				<%= image_tag("#") %>
				<h2 class="name-club">Paris Saint-Germain</h2>
			</div>
			<div class="box-palmares-bottom">
				<h3>Saison: 2003</h3>
				<ul>
					<li>FINALISTE COUPE DE FRANCE</li>
				</ul>
			</div>
		</div>

			<div class="box-palmares">
			<div class="box-palmares-top">
				<%= image_tag("#") %>
				<h2 class="name-club">Manchester City</h2>
			</div>
			<div class="box-palmares-bottom">
				<h3>Saison: 2002</h3>
				<ul>
					<li>CHAMPION DE CHAMPIONSHIP</li>
				</ul>
			</div>
		</div>

				<div class="box-palmares">
			<div class="box-palmares-top">
				<%= image_tag("#") %>
				<h2 class="name-club">FC Nantes</h2>
			</div>
			<div class="box-palmares-bottom">
				<h3>Saison: 2001</h3>
				<ul>
					<li>CHAMPION DE FRANCE</li>
				</ul>
			</div>
		</div>

			<div class="box-palmares">
			<div class="box-palmares-top">
				<%= image_tag("#") %>
				<h2 class="name-club">FC Nantes</h2>
			</div>
			<div class="box-palmares-bottom">
				<h3>Saison: 2000</h3>
				<ul>
					<li>VAINQUEUR DE LA COUPE DE FRANCE </li>
					<li>VAINQUEUR TROPHES DES CHAMPIONS</li>
				</ul>
			</div>
		</div>

			<div class="box-palmares">
			<div class="box-palmares-top">
				<%= image_tag("#") %>
				<h2 class="name-club">FC Nantes</h2>
			</div>
			<div class="box-palmares-bottom">
				<h3>Saison: 1999</h3>
				<ul>
					<li>VAINQUEUR DE LA COUPE DE FRANCE </li>
				</ul>
			</div>
		</div>


			<div class="box-palmares">
			<div class="box-palmares-top">
				<%= image_tag("#") %>
				<h2 class="name-club">FC Nantes</h2>
			</div>
			<div class="box-palmares-bottom">
				<h3>Saison: 1997</h3>
				<ul>
					<li>FINALISTE COUPE GAMBARDELLA</li>
				</ul>
			</div>
		</div>


			<div class="box-palmares">
			<div class="box-palmares-top">
				<%= image_tag("#") %>
				<h2 class="name-club">Equipe de France</h2>
			</div>
			<div class="box-palmares-bottom">
				<h3>Saison: 1997</h3>
				<ul>
					<li>CHAMPION EUROPE JUNIOR</li>
				</ul>
			</div>
		</div>




	</div>
</div>
