<div class="container">
  <div class="row" id="contact">
    <div class="col-md-6">
    <h3 id="title-contact">Vous souhaitez rentrer en contact avec moi?</h3>
       <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
        <%= f.input :name, :required => true, label: 'Votre Nom' %>
        <%= f.input :email, :required => true, label: 'Votre Email' %>
        <%= f.input :message, :as => :text, :required => true, label: 'Votre Message' %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Envoyer Message', :class=> "btn btn-warning" %>
      </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <p>blablabla</p>
    </div>
  </div>
</div>


